.select-dropdown-input-container {
  width: auto;
  border-color: $default-border-color;

  input.select-dropdown-input {
    margin: 0 !important;
    padding: 0.375rem 2.2rem 0.375rem 0.75rem !important;
    border: 0 none !important;
  }

  .select-dropdown-chevron,
  .select-loading-icon {
    top: 10px;
    right: 10px;
  }
}

header {
  .select-dropdown-input-container {
    background-color: transparent;

    .select-dropdown-chevron {
      color: $primary-color;
    }

    input.select-dropdown-input {
      background-color: $default-bg-color !important;
      color: $primary-color !important;
    }
  }
}

#select-dropdown-menu {
  overflow: auto;

  .select-dropdown-menu-item {
    color: $default-color;

    &.active {
      background-color: $default-bg-color-2;
    }
  }
}
